.calc-repair {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  min-height: 1178px;
  position: relative;
  & h2 {
    margin-bottom: 10px;
  }
  & .wrapper {
    position: relative;
    z-index: 3;
    margin-top: 32px;
  }
}

.calc-repair__sofa,
.calc-repair__background,
.calc-repair-bg-light {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.calc-repair-bg-light {
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}
.calc-repair__sofa {
  z-index: 1;
}
.calc-repair__background {
  overflow: hidden;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.calc-img-1 {
  z-index: 0;
}
.calc-img-2 {
  opacity: 1;
  transition: opacity 0.3s linear;
}
.calc-img-2 {
  &.active {
    opacity: 0;
    transition: opacity 0.3s linear;
  }
}
.calculator {
  max-width: 810px;
  margin: 64px auto 0;
  display: grid;
}
.checkbox {
  display: flex;
  justify-content: space-around;
  max-width: 555px;
  width: 100%;
  margin: 0 auto;
}
.checkbox__item {
  & svg {
    display: block;
    height: 150px;
    width: 150px;
  }
  & p {
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
  }
}
.meter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  font-size: 32px;
  line-height: 39px;
}
.meter__range {
  position: relative;
  background: #f7f7f7;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  max-width: 555px;
  width: 100%;
  height: 60px;
  margin-top: 9px;
}
.input-number,
.input-range {
  position: absolute;
  left: 0;
  width: 100%;
}
.input-range {
  bottom: 0px;
}
.input-number {
  height: 100%;
  width: 100%;
  border: none;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// input[type="range"] {
// }
.room-bathroom {
  display: flex;
  max-width: 557px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 35px 0 24px 0;
}
.room,
.bathroom {
  position: relative;
  width: 262px;
  height: 44px;
  margin: 0 6px;
}
.room-bathroom__item {
  margin-top: 24px;
  & p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $colorBlack;
    margin-bottom: 11px;
  }
}

.item-1, .item-2{
  position: relative;
  z-index: 1;
}
.item-1 .path,.item-2 .path{
  fill: #9f9f9f;
  transition: fill 0.5s ease;
}
.item-1.active .path, .item-2.active .path {
  fill: #2d3e50;
  transition: fill 0.5s ease;
}
.item-1.active .path-blue,.item-2.active .path-blue {
  fill: $colorBlue;
}
.item-1 .stroke,.item-2 .stroke{
  stroke: #9f9f9f;
  transition: stroke 0.5s ease;
}
.item-1.active .stroke, .item-2.active .stroke {
  stroke: $colorBlue;
}
.checkbox__item{
  position: relative;
  cursor: pointer;
}
.item-1 .circle, .item-2 .circle{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.item-1 .circle::before,.circle::after, .item-2 .circle::before,.circle::after{
  content: '';
  position: absolute;
  border-radius: 50%;
}
.item-1 .circle::after, .item-2 .circle::after{
  width: 7.79px;
  height: 7.79px;
  bottom: 49px;
  right: 13px;
  background-color: transparent;
}
.item-1 .circle::before, .item-2 .circle::before{
  width: 14px;
  height: 14px;
  bottom: 45px;
  right: 9px;
  border: 1px solid #9f9f9f;
}
.item-1.active .circle::before, .item-2.active .circle::before{
  border: 1px solid $colorBlue;
}
.item-1.active .circle::after, .item-2.active .circle::after{
  background-color: $colorBlue;
}
.meter__plus,
.meter__minus {
  content: "";
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  top: 16px;
}
.meter__minus {
  color: $colorBlue;
  left: 19px;
}
.meter__plus {
  right: 19px;
  background-color: $colorBlue;
  border-radius: 50%;
}
.meter__plus::before,
.meter__plus::after,
.meter__minus::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 4px;
}
.meter__plus::before,
.meter__plus::after {
  background-color: $colorWhite;
}
.meter__plus::before {
  transform: rotate(90deg);
}
.meter__minus::before {
  background-color: $colorBlue;
}
#areaValue {
  margin-top: 8px;
}
input[type=range].styled-slider {
	height: 2px;
	width: 100%;
	background: none;
  }
  
  /*progress support*/
  input[type=range].styled-slider.slider-progress {
	--range: calc(var(--max) - var(--min));
	--ratio: calc((var(--value) - var(--min)) / var(--range));
	--sx: calc(0.5 * 16px + var(--ratio) * (100% - 16px));
	cursor: pointer;
  }
  
  input[type=range].styled-slider:focus {
	outline: none;
  }
  
  /*webkit*/
  input[type=range].styled-slider::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	border-radius: 1em;
	border: none;
	margin-top: calc(2px * 0.5 - 16px * 0.5);
	-webkit-appearance: none;
  }
  
  input[type=range].styled-slider::-webkit-slider-runnable-track {
	height: 2px;
	border-radius: 0.5em;
	background: #efefef;
	border: none;
	box-shadow: none;
  }
  input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
	background: linear-gradient(#FFCC33,#FFCC33) 0/var(--sx) 100% no-repeat, #efefef;
  }
  
  /*mozilla*/
  input[type=range].styled-slider::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border-radius: 1em;
	border: none;

  }
  
  input[type=range].styled-slider::-moz-range-track {
	height: 2px;
	border-radius: 0.5em;
	background: #efefef;
	border: none;
	box-shadow: none;
  }
  
  input[type=range].styled-slider.slider-progress::-moz-range-track {
	background: linear-gradient(#FFCC33,#FFCC33) 0/var(--sx) 100% no-repeat, #efefef;
  }
  
  /*ms*/
  input[type=range].styled-slider::-ms-fill-upper {
	background: transparent;
	border-color: transparent;
  }
  
  input[type=range].styled-slider::-ms-fill-lower {
	background: transparent;
	border-color: transparent;
  }
  
  input[type=range].styled-slider::-ms-thumb {
	width: 16px;
	height: 16px;
	border-radius: 1em;
	border: none;
	margin-top: 0;
	box-sizing: border-box;
  }
  
  input[type=range].styled-slider::-ms-track {
	height: 2px;
	border-radius: 0.5em;
	background: #efefef;
	border: none;
	box-shadow: none;
	box-sizing: border-box;
  }
  
  input[type=range].styled-slider.slider-progress::-ms-fill-lower {
	height: 2px;
	border-radius: 0.5em 0 0 0.5em;
	margin: -undefined 0 -undefined -undefined;
	border: none;
	border-right-width: 0;
  }
  .slider{
    position: absolute;
    bottom: -8px;
    width: 99%;
    left: 0;
    margin: 0px 3px;
  }
.calc-values {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: $colorWhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  line-height: 39px;
}
.input-number .minusPlus{
  padding: 0 15px;
  color: $colorBlue;
  cursor: pointer;
}
.repairTypeSelects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 557px;
  width: 100%;
  & p{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
.select{
  width: 262px;
  height: 44px;
  border-radius: 5px;
  background-color: $colorWhite;
  margin: 11px 6px 0 6px;
  & select{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-left: 14px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    top: -3px;
    position: relative;
    &::-ms-expand {
      display: none;
    }
  }
}
.repairTypeSelectItem{
  margin-bottom: 24px;
  position: relative
}
.treangle-item{
  position: absolute;
  z-index: 0;
  right: 13px;
  bottom: 13px;
  width: 16px;
  height: 14px;
  background-color: $colorBlue;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.result{
  margin-top:22px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border-top: 3px solid $colorBlue;
  padding: 19px 0;
}
.result__value{
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.result__dp{
  font-size: 12px;
  line-height: 15px;
}
.btn-result{
  width: 318px;
  height: 44px;
  color: $colorWhite;
  background-color: $colorBlue;
  border-radius: 5px;
  display: grid;
  place-items: center;
  margin: 24px auto;
  cursor: pointer;
}
@media (min-width: 500px) {
  .checkbox__item {
    & svg {
      width: 189px;
      height: 189px;
    }
  }
}
@media (min-width: 578px) {
  .room-bathroom{
    justify-content: space-between;
  }
  .repairTypeSelects {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .calc-repair {
    & .wrapper {
      margin-top: 70px;
    }
  }
  .meter {
    margin-top: 43px;
  }
  .room-bathroom {
    margin: 42px;
  }
}
