.gallery__bold {
  font-weight: bold;
  font-size: 24px;
}
.gallery-of-works {
  padding: 42px 0 234px 0;
  background-color: $colorGallery;
  color: $colorWhite;
  position: relative;
}

.gallery {
  display: grid;
  max-width: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  row-gap: 62px;
  margin-top: 32px;
  line-height: 1.4;
}

.gallery-icons {
  display: flex;
  width: 100%;
  max-width: 535px;
}
.img-container {
  max-width: 535px;
  max-height: 315px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 18px;
  & img {
    object-fit: cover;
  }
}
.galery-icon {
  margin-right: 10px;
  & img {
    height: 100%;
  }
  &:last-child {
    margin-right: 0;
  }
}
.gallery__description {
  & ul {
    list-style: disc;
    margin-left: 15px;
  }
}
.gallery__subtitle,
.gallery__total {
  margin: 24px 0;
}
.gallery__total {
  font-size: 24px;
}
.gallery__btn {
  width: 294px;
  height: 44px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: $colorWhite;
  background-color: $colorBlue;
}
.gallery__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-download-next, .btn-write {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & button {
    background: $colorWhite;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: $colorBlue;
    font-weight: 500;
    font-size: 18px;
    height: 44px;
  }
}
.btn-download-next{
  margin-top: 40px;
  & button{
    width: 225px;
  }
}
.btn-write{
    width: 140px;
    background: $colorWhite;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: $colorBlue;
    font-weight: 500;
    font-size: 18px;
    height: 44px;
}
.gallery__description{
    padding-top: 42px;
}
.there-questions{
  position: absolute;
  bottom: -110px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-height: 327px;
  display: flex;
  justify-content: center;
  & .there-questions__form{
    position: relative;
    max-width: 998px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}
.questions__form__body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 33px 0 46px 46px;
  background: linear-gradient(93.53deg, #0073C3 0%, rgba(255, 255, 255, 0.39) 100%);
  width: 100%;
  position: relative;
  z-index: 2;
  & .gallery__bold{
    margin: 22px 0;
  }
}
.questions__form__logo{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 500px){
  .there-questions{
    width: calc(100% - 30px);
  }
}
@media (min-width: 800px){
  .questions__form__body{
    background: linear-gradient(93.53deg, #0073C3 0%, #BCBBC0 100%);
    width: 50%;
  }
  .questions__form__logo{
    position: static;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .gallery {
    margin-top: 59px;
  }
  .gallery-of-works {
    padding: 42px 0 195px 0;
  }
  .btn-download-next {
    & button {
      margin-top: 64px;
    }
  }
}

@media (min-width: 1100px){
    .gallery__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
      }
      .gallery__description{
        padding-top: 0px;
    }
}