.reviews {
  padding: 237px 0 42px 0;
  background-color: $colorGrey;
}
.reviews__body {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  margin-top: 64px;
}
.reviews__item {
  background: #ffffff;
  border: 1px solid #0073c3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  min-height: 236px;
  overflow: auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.reviews__body__title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.reviews__body__icon{
    width: 80px;
    height: 80px;
    background-color: $colorBlue;
    border-radius: 5px;
    display: grid;
    place-items: center;
    color: $colorWhite;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.reviews__body__name{
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  & p{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    &:last-child{
      font-weight: 200;
      font-size: 15px;
      line-height: 22px;
    }
  }
}
.reviews__body__dp, .reviews__body__link {
  margin: 24px 39px 24px 39px;
}
.reviews__body__link{
  display: flex;
  justify-content: flex-end;
  & a{
    color: $colorBlue;
  }
}
@media(min-width: 600px){
  .reviews__body__name{
    margin-left: 42px;
  }
  .reviews__body__dp,.reviews__body__link{
    margin: 24px 57px 24px 39px;
  }
}
@media (min-width: 992px) {
  .reviews {
    padding: 180px 0 60px 0;
  }
  .reviews__body {
    row-gap: 42px;
    margin-top: 80px;
  }
}
