// &display=swap
//&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,900&display=swap&subset=cyrillic-ext");

//Переменные
@import "variables";
@import "header";
@import "complex-repair";
@import "fast-and-high";
@import "calc-repair";
@import "gallery-styles";
@import "gallery-of-works";
@import "reviews";
@import "stages";
@import "footer";
* {
  padding: 0;
  margin: 0;
}
body,
html {
  font-family: $fontFamily;
  box-sizing: border-box;
  min-width: 320px;
  color: $colorBlack;
}
body.lock{
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.wrapper {
  max-width: 1270px;
  min-width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  font-size: 36px;
}
.section-title{
  font-weight: 500;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.buttons{
  cursor: pointer;
  transform: translateY(0px);
  transition: transform 0.2s ease;
}
.buttons:hover{
  transform: translateY(-3px);
  transition: transform 0.2s ease;
}
@media (min-width: 1440px){
  .section-title{
    transform: translateX(-32px);
  }
}