@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,900&display=swap&subset=cyrillic-ext");
.header {
  background-color: rgba(30, 51, 63, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.header.active {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: #1e333f; }

.header__content {
  color: #FFFFFF;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header__content a {
    color: #FFFFFF; }

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__logo {
  cursor: pointer; }
  .header__logo p:first-child {
    font-weight: bold;
    font-size: 24px; }
  .header__logo p:last-child {
    font-weight: normal;
    font-size: 12px; }

.header__nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2D3E50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  z-index: -1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0; }
  .header__nav.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    padding: 50px 0;
    opacity: 1; }

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 35px;
  font-weight: normal; }
  .menu__nav.active {
    padding: 100px 0; }
  .menu__nav li {
    margin: 5px 0; }
    .menu__nav li:first-child {
      margin: 0; }

.header__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__telephone a {
    font-weight: bold;
    font-size: 24px; }
    .header__telephone a:nth-child(1) {
      display: block;
      width: 24px;
      height: 24px; }
    .header__telephone a:nth-child(2) {
      display: none; }

.header__burger {
  position: relative;
  width: 24px;
  height: 24px; }
  .header__burger span {
    position: absolute;
    display: block;
    width: 100%;
    height: 4.8px;
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header__burger span:nth-child(1) {
      top: 0; }
    .header__burger span:nth-child(2) {
      top: 9.5px; }
    .header__burger span:nth-child(3) {
      bottom: 0; }
  .header__burger.active span {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    border-radius: 3px; }
    .header__burger.active span:nth-child(1) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 9.5px; }
    .header__burger.active span:nth-child(2) {
      display: none; }
    .header__burger.active span:nth-child(3) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      bottom: 9.5px; }

.telephone__icon {
  margin-right: 24px; }

@media (min-width: 768px) {
  .header__burger {
    display: none; }

  .header__nav {
    width: auto;
    height: auto;
    position: static;
    background-color: transparent;
    display: block;
    z-index: 0;
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }

  .menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-weight: normal; }
    .menu__nav li {
      margin: 0 0 0 18px; }
      .menu__nav li:first-child {
        margin: 0 0 0 0; } }
.menu__link.active {
  color: #BCBBC0; }

@media (min-width: 992px) {
  .header__content {
    height: 80px; }

  .header__telephone a:first-child {
    display: none; }
  .header__telephone a:last-child {
    display: block; }

  .header__telephone a:nth-child(2) {
    display: block; } }
.complex-repair {
  background: url("../img/complex-repair-bg.png") center center no-repeat;
  padding: 124px 0 0 0;
  color: #FFFFFF;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-attachment: scroll;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover; }

.complex-repair__title {
  text-align: center; }
  .complex-repair__title p {
    font-size: calc(18px + 6 * ((100vw - 375px) / (1920 - 375))); }

h1 {
  font-weight: 900;
  font-size: calc(32px + 16 * ((100vw - 375px) / (1920 - 375))); }

.complex-repair__subtitle {
  text-align: center;
  font-weight: 500;
  margin: 64px 0 24px 0; }

.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.event__items {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, minmax(130px, 165px));
  grid-template-rows: repeat(2, minmax(98px, 120px));
  gap: 24px; }
  .event__items .event__item {
    background: rgba(218, 218, 218, 0.4);
    border: 1px solid #0073c3;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px; }

.complex-repair__form {
  position: absolute;
  bottom: -230px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  border-radius: 5px; }

.form__head {
  max-width: 633px;
  max-height: 317px;
  width: 100%;
  background: rgba(43, 56, 63, 0.8);
  border-radius: 5px;
  padding: 14px 25px 35px;
  margin: 0 15px; }

.form__title span {
  font-weight: 500;
  font-size: 24px; }

.form__body {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 32px; }

.form__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
  font-weight: 300;
  font-size: 18px; }
  .form__telephone label {
    position: relative;
    padding-left: 33px; }
    .form__telephone label::before {
      content: url("/img/icons/tel-mini.svg");
      position: absolute;
      left: 0;
      top: 0; }
  .form__telephone input {
    margin-top: 10px;
    max-width: 257px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    padding: 0 5px;
    outline: none; }

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.btn-form {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  width: 250px;
  height: 50px;
  border: none;
  background-color: #0073C3; }
  .btn-form button {
    cursor: pointer; }

@media (min-width: 360px) {
  .complex-repair__form {
    bottom: -130px; } }
@media (min-width: 660px) {
  .form__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; }

  .form__button {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }
@media (min-width: 992px) {
  h1 br {
    display: none; }
    h1 br:nth-child(2) {
      display: block; }

  .complex-repair {
    min-height: 822px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
    background-attachment: fixed; }

  .complex-repair__subtitle {
    margin: 45px 0 24px 0; }
    .complex-repair__subtitle p br {
      display: none; }

  .event__items {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, minmax(130px, 165px));
    grid-template-rows: minmax(98px, 120px);
    gap: 24px; }

  .complex-repair__form {
    bottom: -75px;
    left: 0; } }
.fast-and-high {
  margin: 264px 0 57px; }

.fast-and-high__body {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 0px;
  margin-top: 32px; }
  .fast-and-high__body ul {
    list-style: disc; }
    .fast-and-high__body ul li {
      margin-bottom: 25px;
      color: #0073C3; }
      .fast-and-high__body ul li span {
        color: #000000; }

.fast-and-high__column {
  padding: 0 15px; }

@media (min-width: 992px) {
  .fast-and-high {
    margin: 153px 0 89px; }

  .fast-and-high__body {
    margin-top: 56px;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
    gap: 80px; } }
.calc-repair {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  min-height: 1178px;
  position: relative; }
  .calc-repair h2 {
    margin-bottom: 10px; }
  .calc-repair .wrapper {
    position: relative;
    z-index: 3;
    margin-top: 32px; }

.calc-repair__sofa,
.calc-repair__background,
.calc-repair-bg-light {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover; }

.calc-repair-bg-light {
  background: rgba(255, 255, 255, 0.5);
  z-index: 2; }

.calc-repair__sofa {
  z-index: 1; }

.calc-repair__background {
  overflow: hidden; }
  .calc-repair__background img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover; }

.calc-img-1 {
  z-index: 0; }

.calc-img-2 {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.calc-img-2.active {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.calculator {
  max-width: 810px;
  margin: 64px auto 0;
  display: grid; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 555px;
  width: 100%;
  margin: 0 auto; }

.checkbox__item svg {
  display: block;
  height: 150px;
  width: 150px; }
.checkbox__item p {
  font-weight: 600;
  font-size: 16px;
  margin-top: 16px; }

.meter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  font-size: 32px;
  line-height: 39px; }

.meter__range {
  position: relative;
  background: #f7f7f7;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  max-width: 555px;
  width: 100%;
  height: 60px;
  margin-top: 9px; }

.input-number,
.input-range {
  position: absolute;
  left: 0;
  width: 100%; }

.input-range {
  bottom: 0px; }

.input-number {
  height: 100%;
  width: 100%;
  border: none;
  text-align: center; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.room-bathroom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 557px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px 0 24px 0; }

.room,
.bathroom {
  position: relative;
  width: 262px;
  height: 44px;
  margin: 0 6px; }

.room-bathroom__item {
  margin-top: 24px; }
  .room-bathroom__item p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 11px; }

.item-1, .item-2 {
  position: relative;
  z-index: 1; }

.item-1 .path, .item-2 .path {
  fill: #9f9f9f;
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease; }

.item-1.active .path, .item-2.active .path {
  fill: #2d3e50;
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease; }

.item-1.active .path-blue, .item-2.active .path-blue {
  fill: #0073C3; }

.item-1 .stroke, .item-2 .stroke {
  stroke: #9f9f9f;
  -webkit-transition: stroke 0.5s ease;
  transition: stroke 0.5s ease; }

.item-1.active .stroke, .item-2.active .stroke {
  stroke: #0073C3; }

.checkbox__item {
  position: relative;
  cursor: pointer; }

.item-1 .circle, .item-2 .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.item-1 .circle::before, .circle::after, .item-2 .circle::before, .circle::after {
  content: '';
  position: absolute;
  border-radius: 50%; }

.item-1 .circle::after, .item-2 .circle::after {
  width: 7.79px;
  height: 7.79px;
  bottom: 49px;
  right: 13px;
  background-color: transparent; }

.item-1 .circle::before, .item-2 .circle::before {
  width: 14px;
  height: 14px;
  bottom: 45px;
  right: 9px;
  border: 1px solid #9f9f9f; }

.item-1.active .circle::before, .item-2.active .circle::before {
  border: 1px solid #0073C3; }

.item-1.active .circle::after, .item-2.active .circle::after {
  background-color: #0073C3; }

.meter__plus,
.meter__minus {
  content: "";
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  top: 16px; }

.meter__minus {
  color: #0073C3;
  left: 19px; }

.meter__plus {
  right: 19px;
  background-color: #0073C3;
  border-radius: 50%; }

.meter__plus::before,
.meter__plus::after,
.meter__minus::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 4px; }

.meter__plus::before,
.meter__plus::after {
  background-color: #FFFFFF; }

.meter__plus::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.meter__minus::before {
  background-color: #0073C3; }

#areaValue {
  margin-top: 8px; }

input[type=range].styled-slider {
  height: 2px;
  width: 100%;
  background: none; }

/*progress support*/
input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 16px + var(--ratio) * (100% - 16px));
  cursor: pointer; }

input[type=range].styled-slider:focus {
  outline: none; }

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 1em;
  border: none;
  margin-top: calc(2px * 0.5 - 16px * 0.5);
  -webkit-appearance: none; }

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 2px;
  border-radius: 0.5em;
  background: #efefef;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFCC33), to(#FFCC33)) 0/var(--sx) 100% no-repeat, #efefef;
  background: linear-gradient(#FFCC33, #FFCC33) 0/var(--sx) 100% no-repeat, #efefef; }

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 1em;
  border: none; }

input[type=range].styled-slider::-moz-range-track {
  height: 2px;
  border-radius: 0.5em;
  background: #efefef;
  border: none;
  box-shadow: none; }

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#FFCC33, #FFCC33) 0/var(--sx) 100% no-repeat, #efefef; }

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent; }

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent; }

input[type=range].styled-slider::-ms-thumb {
  width: 16px;
  height: 16px;
  border-radius: 1em;
  border: none;
  margin-top: 0;
  box-sizing: border-box; }

input[type=range].styled-slider::-ms-track {
  height: 2px;
  border-radius: 0.5em;
  background: #efefef;
  border: none;
  box-shadow: none;
  box-sizing: border-box; }

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: 2px;
  border-radius: 0.5em 0 0 0.5em;
  margin: -undefined 0 -undefined -undefined;
  border: none;
  border-right-width: 0; }

.slider {
  position: absolute;
  bottom: -8px;
  width: 99%;
  left: 0;
  margin: 0px 3px; }

.calc-values {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  line-height: 39px; }

.input-number .minusPlus {
  padding: 0 15px;
  color: #0073C3;
  cursor: pointer; }

.repairTypeSelects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 557px;
  width: 100%; }
  .repairTypeSelects p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center; }

.select {
  width: 262px;
  height: 44px;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin: 11px 6px 0 6px; }
  .select select {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-left: 14px;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    top: -3px;
    position: relative; }
    .select select::-ms-expand {
      display: none; }

.repairTypeSelectItem {
  margin-bottom: 24px;
  position: relative; }

.treangle-item {
  position: absolute;
  z-index: 0;
  right: 13px;
  bottom: 13px;
  width: 16px;
  height: 14px;
  background-color: #0073C3;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%); }

.result {
  margin-top: 22px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border-top: 3px solid #0073C3;
  padding: 19px 0; }

.result__value {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px; }

.result__dp {
  font-size: 12px;
  line-height: 15px; }

.btn-result {
  width: 318px;
  height: 44px;
  color: #FFFFFF;
  background-color: #0073C3;
  border-radius: 5px;
  display: grid;
  place-items: center;
  margin: 24px auto;
  cursor: pointer; }

@media (min-width: 500px) {
  .checkbox__item svg {
    width: 189px;
    height: 189px; } }
@media (min-width: 578px) {
  .room-bathroom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .repairTypeSelects {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
@media (min-width: 992px) {
  .calc-repair .wrapper {
    margin-top: 70px; }

  .meter {
    margin-top: 43px; }

  .room-bathroom {
    margin: 42px; } }
.swiper-slide {
  cursor: pointer; }

.gallery__bold {
  font-weight: bold;
  font-size: 24px; }

.gallery-of-works {
  padding: 42px 0 234px 0;
  background-color: #2D3E50;
  color: #FFFFFF;
  position: relative; }

.gallery {
  display: grid;
  max-width: 100%;
  width: 100%;
  grid-template-columns: auto;
  row-gap: 120px;
  margin-top: 32px;
  line-height: 1.4; }

.gallery-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 535px;
  position: relative; }

.gallery-icons::after, .gallery-icons::before {
  content: '';
  position: absolute;
  top: 0px;
  height: calc(100% - 6px);
  width: 14%;
  z-index: 2; }

.gallery-icons::before {
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#FFFFFF));
  background: linear-gradient(90deg, transparent, #FFFFFF); }

.gallery-icons::after {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(transparent));
  background: linear-gradient(90deg, #FFFFFF, transparent); }

.img-container {
  max-width: 535px;
  max-height: 315px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 18px; }
  .img-container img {
    -o-object-fit: cover;
       object-fit: cover; }

.galery-icon {
  margin-right: 10px; }
  .galery-icon img {
    height: 100%; }
  .galery-icon:last-child {
    margin-right: 0; }

.gallery__description ul {
  list-style: disc;
  margin-left: 15px; }

.gallery__subtitle,
.gallery__total {
  margin: 24px 0; }

.gallery__total {
  font-size: 24px; }

.gallery__btn {
  width: 294px;
  height: 44px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: #0073C3; }

.gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto;
  overflow: hidden; }

.btn-download-next, .btn-write {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-download-next button, .btn-write button {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #0073C3;
    font-weight: 500;
    font-size: 18px;
    height: 44px;
    border: none; }

.btn-download-next {
  margin-top: 40px; }
  .btn-download-next button {
    width: 225px; }

.btn-write {
  width: 140px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #0073C3;
  font-weight: 500;
  font-size: 18px;
  height: 44px;
  border: none; }

.gallery__description {
  padding-top: 42px; }

.there-questions {
  position: absolute;
  bottom: -110px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-height: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .there-questions .there-questions__form {
    position: relative;
    max-width: 998px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden; }

.questions__form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 33px 0 46px 46px;
  background: linear-gradient(93.53deg, #0073C3 0%, rgba(255, 255, 255, 0.39) 100%);
  width: 100%;
  position: relative;
  z-index: 2; }
  .questions__form__body .gallery__bold {
    margin: 22px 0; }

.questions__form__logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }
  .questions__form__logo img {
    height: 100%; }

@media (min-width: 500px) {
  .there-questions {
    width: calc(100% - 30px); } }
@media (min-width: 800px) {
  .questions__form__body {
    background: linear-gradient(93.53deg, #0073C3 0%, #BCBBC0 100%);
    width: 50%; }

  .questions__form__logo {
    position: static;
    width: 50%; } }
@media (min-width: 992px) {
  .gallery {
    margin-top: 59px; }

  .gallery-of-works {
    padding: 42px 0 195px 0; }

  .btn-download-next button {
    margin-top: 64px; } }
@media (min-width: 1100px) {
  .gallery__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px; }

  .gallery__description {
    padding-top: 0px; } }
.reviews {
  padding: 237px 0 42px 0;
  background-color: #BCBBC0; }

.reviews__body {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  margin-top: 64px; }

.reviews__item {
  background: #ffffff;
  border: 1px solid #0073c3;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  min-height: 236px;
  overflow: auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500; }

.reviews__body__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.reviews__body__icon {
  width: 80px;
  height: 80px;
  background-color: #0073C3;
  border-radius: 5px;
  display: grid;
  place-items: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px; }

.reviews__body__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 22px; }
  .reviews__body__name p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px; }
    .reviews__body__name p:last-child {
      font-weight: 200;
      font-size: 15px;
      line-height: 22px; }

.reviews__body__dp, .reviews__body__link {
  margin: 24px 39px 24px 39px; }

.reviews__body__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .reviews__body__link a {
    color: #0073C3; }

@media (min-width: 600px) {
  .reviews__body__name {
    margin-left: 42px; }

  .reviews__body__dp, .reviews__body__link {
    margin: 24px 57px 24px 39px; } }
@media (min-width: 992px) {
  .reviews {
    padding: 180px 0 60px 0; }

  .reviews__body {
    row-gap: 42px;
    margin-top: 80px; } }
.stages {
  background: #e5e5e5;
  padding: 42px 0 64px 0; }
  .stages h2 {
    font-weight: normal;
    font-size: 32px;
    line-height: 39px; }

.stages__body {
  display: grid;
  width: 100%;
  margin-top: 21px; }

.stages__row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto); }

.stages__column {
  font-weight: 500;
  font-size: 24px;
  max-width: 292px;
  width: 100%;
  margin: 21px 0; }

.stages__item {
  width: 55px;
  height: 55px;
  background-color: #FFFFFF;
  border: 1px solid #0073C3;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 2; }

.stages-item-title {
  margin: 22px 0; }

.btn-stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 58px;
  background: #0073C3;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px; }

.stages-item-dp {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%; }

@media (min-width: 600px) {
  .stages__row {
    place-items: center; } }
@media (min-width: 778px) {
  .stages__column {
    height: 204px;
    margin: 42px 0; }

  .stages__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto); } }
@media (min-width: 1200px) {
  .stages__row {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, 1fr); }

  .stages__column {
    margin: 82px 0;
    position: relative; }
    .stages__column:nth-child(2) {
      max-width: 320px; }
    .stages__column:nth-child(5) {
      max-width: 320px; }
    .stages__column:before {
      content: '';
      position: absolute;
      width: calc(100% + 130px);
      z-index: 0;
      left: 55px;
      top: 27px;
      height: 2px;
      background-color: #0073C3; }

  .stages__column:nth-child(3):before, .stages__column:nth-child(6):before {
    display: none; } }
.footer {
  height: 401px;
  background-color: #2D3E50; }

@media (min-width: 768px) {
  .footer {
    height: 295px; } }
* {
  padding: 0;
  margin: 0; }

body,
html {
  font-family: "Montserrat";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  color: #000000; }

body.lock {
  overflow: hidden; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.wrapper {
  max-width: 1270px;
  min-width: 290px;
  margin: 0 auto;
  padding: 0 15px; }

h2 {
  font-size: 36px; }

.section-title {
  font-weight: 500; }

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */ }

.buttons {
  cursor: pointer;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease; }

.buttons:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease; }

@media (min-width: 1440px) {
  .section-title {
    -webkit-transform: translateX(-32px);
            transform: translateX(-32px); } }

/*# sourceMappingURL=style.css.map */